<UserScriptConfig>
	<Script basedir="search_engineJump自用版" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="方便的在各个引擎之间跳转" enabled="true" filename="152399.user.js" installTime="1363183045901" modified="1375596706000" name="search_engineJump自用版" namespace="http://userscripts.org/users/snailwork" runAt="document-end" uuid="fbda0481-ab74-4342-b405-b55a6ebe02a6" version="3.0.1.5" installurl="https://userscripts.org/scripts/source/152399.user.js" updateurl="https://userscripts.org/scripts/source/152399.meta.js">
		<Grant>unsafeWindow</Grant>
		<Include>http*://*.google.*/*</Include>
		<Include>https*://*.google.*/*</Include>
		<Include>http*://*www.baidu.*/*</Include>
		<Include>http*://*.bing.*/*</Include>
		<Include>http*://*.soso.*/*</Include>
		<Include>http*://*.sogou.*/*</Include>
		<Include>http*://*.youdao.*/*</Include>
		<Include>http*://*.yahoo.*/*</Include>
		<Include>http*://*.ktxp.*/*</Include>
		<Include>http*://*.taobao.*/*</Include>
		<Include>http*://*.gougou.*/*</Include>
		<Include>http*://*.soku.*/*</Include>
		<Include>http*://*.tudou.*/*</Include>
		<Include>http*://*.56.*/*</Include>
		<Include>http*://*.ku6.*/*</Include>
		<Include>http*://*.youtube.*/*</Include>
		<Include>http*://*.xiazaiba.*/*</Include>
		<Include>http*://*.verycd.*/*</Include>
		<Include>http*://*.1ting.*/*</Include>
		<Include>http*://*.flickr.*/*</Include>
		<Include>http*://*.douban.*/*</Include>
		<Include>http*://*.picsearch.*/*</Include>
		<Include>http*://*.top100.*/*</Include>
		<Include>http*://*.xiami.*/*</Include>
		<Include>http*://*.songtaste.*/*</Include>
		<Include>http*://*.iciba.*/*</Include>
		<Include>http*://*.56pan.*/*</Include>
		<Include>http*://*.wikipedia.org/*</Include>
		<Include>http*://dict.cn/*</Include>
		<Include>http://dict.hjenglish.com/*</Include>
		<Include>http://shooter.cn/search/*</Include>
		<Include>http*://so.360.cn/s*</Include>
		<Include>http*://*.so.com/s*</Include>
		<Include>http*://so.hudong.com/*</Include>
		<Include>http*://iask.sina.com.cn/*</Include>
		<Include>https://addons.mozilla.org/*</Include>
		<Include>http://www.mop.com/so/*</Include>
		<Include>http://www.tianya.cn/search/*</Include>
		<Include>http://s.weibo.com/weibo/*</Include>
		<Include>http://search.t.qq.com/*</Include>
	</Script>
	<Script basedir="贴吧消息提醒" checkRemoteUpdates="1" dependhash="151322b5ef84dd92402d5a6ee41f464dddb295b7" description="" enabled="true" filename="151214.user.js" installTime="1363670288239" modified="1363670286000" name="贴吧消息提醒" namespace="userscripts.org" runAt="document-end" uuid="9da20d4a-1988-4fb8-bf5d-d3ba57bac259" version="1.20" installurl="http://userscripts.org/scripts/source/151214.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/151214.meta.js">
		<Exclude>http://tieba.baidu.com/f?kw=*</Exclude>
		<Exclude>http://tieba.baidu.com/f?*</Exclude>
		<Exclude>http://tieba.baidu.com/p/*</Exclude>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>*</Include>
		<Require filename="jquery-1.6.js"/>
	</Script>
	<Script basedir="Straight_Google" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Remove URL redirection from google products" enabled="true" filename="121261.user.js" installTime="1365832398858" modified="1365832398000" name="Straight Google" namespace="in.co.tossing.toolkit.google" runAt="document-end" uuid="cd51f097-2afe-4762-862f-1fc347fe754f" version="1.17.10" installurl="https://userscripts.org/scripts/source/121261.user.js" updateurl="https://userscripts.org/scripts/source/121261.meta.js">
		<Exclude>*://www.google.com/reader/*</Exclude>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>*://www.google.*/*q=*</Include>
		<Include>*://www.google.*/*tbs=*</Include>
		<Include>*://www.google.*/search?*</Include>
		<Include>*://www.google.*/webhp?*</Include>
		<Include>*://www.google.*/cse?*</Include>
		<Include>*://www.google.*/?*</Include>
		<Include>*://www.google.*/#*</Include>
		<Include>*://www.google.*/</Include>
		<Include>*://encrypted.google.*</Include>
		<Include>*://ipv6.google.*</Include>
		<Include>*://www.google.*/news*</Include>
		<Include>*://news.google.*/*</Include>
		<Include>*://plus.google.com/_/scs/apps-static/_/js/*</Include>
		<Include>*://images.google.com/*</Include>
		<Include>*://docs.google.com/*</Include>
		<Include>*://maps.google.com/*</Include>
		<Include>*://www.google.com/maps*</Include>
		<Include>*://ditu.google.com/*</Include>
		<Include>*://www.youtube.*</Include>
		<Include>*://groups.google.com/group/*</Include>
		<Include>*://www.google.com/bookmarks/*</Include>
		<Include>*://history.google.com/bookmarks/*</Include>
		<Include>*://www.google.com/history/*</Include>
		<Include>*://www.google.com/prdhp*</Include>
		<Include>*://www.google.com/products/catalog?*</Include>
		<Include>*://www.google.com/shopping/product/*</Include>
		<Include>*://mail.google.com/*</Include>
		<Include>*://www.google.com/mail*</Include>
		<Include>*://play.google.com/store*</Include>
	</Script>
	<Script basedir="pixiv_original_image_link_mod" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="135265.user.js" installTime="1366283557949" modified="1366283556000" name="pixiv original image link mod" namespace="pixiv" runAt="document-end" uuid="8611a05d-fdee-4656-90cc-de7c65814fb6" version="null" installurl="http://userscripts.org/scripts/source/135265.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/135265.meta.js">
		<Grant>none</Grant>
		<Include>http://www.pixiv.net/member_illust.php*mode*</Include>
		<Match>http://www.pixiv.net/member_illust.php*mode*</Match>
	</Script>
	<Script basedir="tieba_quote" checkRemoteUpdates="1" dependhash="ac9a5808e6774d58bb100a4376423fc405cf7d2f" description="百度贴吧引用" enabled="true" filename="150253.user.js" installTime="1381836369777" modified="1381836370000" name="tieba_quote" namespace="userscripts.org" runAt="document-end" uuid="8d218ca4-1e9c-4b9e-81da-026ff209ac17" version="2013.10.15.0" installurl="https://userscripts.org/scripts/source/150253.user.js" updateurl="https://userscripts.org/scripts/source/150253.meta.js" icon="4e2ed7f8bbb3d4f2c2d2bb21">
		<Grant>GM_addStyle</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/p/*</Include>
		<Include>http://tieba.baidu.com/f?ct=*</Include>
		<Include>http://tieba.baidu.com/f?kz=*</Include>
	</Script>
	<Script basedir="Niconvert_Commnet_Link" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="显示 Acfun 和 Bilibili 的弹幕评论地址" enabled="true" filename="130401.user.js" installTime="1367679099477" modified="1367679098000" name="Niconvert Commnet Link" namespace="qixinglu.com" runAt="document-end" uuid="161c1993-78fc-477e-b7ac-5a0956bc90f9" version="null" installurl="http://userscripts.org/scripts/source/130401.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/130401.meta.js">
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://www.bilibili.tv/video/*</Include>
		<Include>http://bilibili.kankanews.com/video/*</Include>
		<Include>http://bilibili.smgbb.cn/video/*</Include>
		<Include>http://www.acfun.tv/v/*</Include>
	</Script>
	<Script basedir="百度贴吧图片放大" checkRemoteUpdates="1" dependhash="9186308e85f7c8b195cbca464ee4b7c2f40d4bee" description="鼠标移动到上面时放大，移走还原。" enabled="true" filename="156914.user.js" installTime="1366285269765" modified="1369975994000" name="百度贴吧图片放大" namespace="http://sbwtw.cn/" runAt="document-end" uuid="e84ea21d-2e65-441a-a2d0-3c7dd71bc144" version="13-01-29.1" installurl="https://userscripts.org/scripts/source/156914.user.js" updateurl="https://userscripts.org/scripts/source/156914.meta.js" icon="d92f6fd8ad5265626f726ee90f">
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/p/*</Include>
		<Include>http://tieba.baidu.com/f?*</Include>
	</Script>
	<Script basedir="tiebaCustomFace" checkRemoteUpdates="1" dependhash="f25a757284611b3b7d44f15816c93c0cacd4bc23" description="贴吧自定义表情" enabled="true" filename="168266.user.js" installTime="1395149801547" modified="1395154776790" name="tiebaCustomFace" namespace="userscripts.org" runAt="document-end" uuid="513cb49d-1f18-440e-bcb3-4ab71238a484" version="2014.3.6" installurl="http://userscripts.org/scripts/source/168266.user.js" updateurl="http://userscripts.org/scripts/source/168266.meta.js" icon="c339b7e2d3a1b5c4c3a8d726">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/*</Include>
	</Script>
	<Script basedir="尾页链接" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="尾页链接.user.js" installTime="1370099178636" modified="1375056660000" name="尾页链接" namespace="." runAt="document-end" uuid="adb813f1-ba70-4e89-82a0-541743d02269" version="1" installurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/%E5%B0%BE%E9%A1%B5%E9%93%BE%E6%8E%A5/%E5%B0%BE%E9%A1%B5%E9%93%BE%E6%8E%A5.user.js" updateurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/%E5%B0%BE%E9%A1%B5%E9%93%BE%E6%8E%A5/%E5%B0%BE%E9%A1%B5%E9%93%BE%E6%8E%A5.user.js">
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/*</Include>
	</Script>
	<Script basedir="新标签页打开链接" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="新标签页打开链接.user.js" installTime="1370949263727" modified="1370949954000" name="新标签页打开链接" namespace="." runAt="document-end" uuid="313049f8-5471-4f2d-be10-54aa1c34bd22" version="1" installurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5%E6%89%93%E5%BC%80%E9%93%BE%E6%8E%A5/%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5%E6%89%93%E5%BC%80%E9%93%BE%E6%8E%A5.user.js" updateurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5%E6%89%93%E5%BC%80%E9%93%BE%E6%8E%A5/%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5%E6%89%93%E5%BC%80%E9%93%BE%E6%8E%A5.user.js">
		<Grant>none</Grant>
		<Include>http://www.o2v3.imotor.com/*</Include>
	</Script>
	<Script basedir="verycd补全下载链接" checkRemoteUpdates="1" dependhash="e321823f74412f3342f6d5bc7e454100ab43c10b" description="在verycd页面直接显示下载链接" enabled="true" filename="158764.user.js" installTime="1371908370301" modified="1371908368000" name="verycd补全下载链接" namespace="userscripts.org" runAt="document-end" uuid="48cbf0ae-9265-4423-9553-f41d59152d0e" version="1.5.0" installurl="http://userscripts.org/scripts/source/158764.user.js" updateurl="http://userscripts.org/scripts/source/158764.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://www.verycd.com/topics/*</Include>
		<Require filename="jquery-1.9.1.min.js"/>
		<Require filename="doT.min.js"/>
	</Script>
	<Script basedir="P站一键收藏" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="P站一键收藏.user.js" installTime="1371999736515" modified="1372015304000" name="P站一键收藏" namespace="" runAt="document-end" uuid="3f32865e-8d85-4733-8428-d510fe170761" version="2013.6.23" installurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/P%E7%AB%99%E4%B8%80%E9%94%AE%E6%94%B6%E8%97%8F/P%E7%AB%99%E4%B8%80%E9%94%AE%E6%94%B6%E8%97%8F.user.js" updateurl="file:///D:/M_Firefox/Stable/profiles/gm_scripts/P%E7%AB%99%E4%B8%80%E9%94%AE%E6%94%B6%E8%97%8F/P%E7%AB%99%E4%B8%80%E9%94%AE%E6%94%B6%E8%97%8F.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>http://www.pixiv.net/*</Include>
	</Script>
	<Script basedir="Pixiv_Filter" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Filters out images with few than the designated bookmarks (users)" enabled="false" filename="83212.user.js" installTime="1372951650697" modified="1372951648000" name="Pixiv Filter" namespace="Pixiv Filter" runAt="document-end" uuid="02dbe57e-d778-4f11-8721-caf9f4d668e1" version="3.3" installurl="https://userscripts.org/scripts/source/83212.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/83212.meta.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://www.pixiv.net/search.php*</Include>
		<Include>http://www.pixiv.net/tags.php*</Include>
	</Script>
	<Script basedir="Crack_Url_Wait_Code_Login" checkRemoteUpdates="1" dependhash="9a53a4312521c0c2000e1447aed9760b7147e128" description="Remove from net disk and downloads to Verification code,login,wait,(Multi-in one,Easy to create downloads)." enabled="true" filename="153190.user.js" installTime="1373085103516" modified="1373085102000" name="Crack Url Wait Code Login" namespace="Yuleigq@gmail.com" runAt="document-end" uuid="0d9b121d-a336-4ec0-b1af-4a9d184308ee" version="4.16.19t" installurl="https://userscripts.org/scripts/source/153190.user.js" updateurl="https://userscripts.org/scripts/source/153190.meta.js">
		<Exclude>http://www.verycd.com/topics/*/comments*</Exclude>
		<Grant>unsafeWindow</Grant>
		<Include>http://www.rayfile.com/*/files/*</Include>
		<Include>http://dl.vmall.com/*</Include>
		<Include>http://www.vdisk.cn/down/index/*</Include>
		<Include>http://*.yunfile.com/file/*</Include>
		<Include>http://down.it168.com/*/index.shtml</Include>
		<Include>http://www.yimuhe.com/*.html</Include>
		<Include>http://www.fileim.com/file/*.html</Include>
		<Include>http://www.kuaipan.cn/file/id_*.htm</Include>
		<Include>http://*.qjwm.com/down*.html</Include>
		<Include>http://*.7958.com/down*.html</Include>
		<Include>http://www.gxp.cc/*.html</Include>
		<Include>http://www.nyhx.com/*.html</Include>
		<Include>http://dl.dbank.com/*</Include>
		<Include>http://www.79pan.com/*.html</Include>
		<Include>http://www.87pan.com/*.html</Include>
		<Include>http://u.xunzai.com/?ac=download&amp;id=*</Include>
		<Include>http://u.xunzai.com/fileview_*.html</Include>
		<Include>http://www.ctdisk.com/file/*</Include>
		<Include>http://www.400gb.com/file/*</Include>
		<Include>http://www.bego.cc/file/*</Include>
		<Include>http://www.pipipan.com/file/*</Include>
		<Include>http://www.supan.la/*.html</Include>
		<Include>http://www.bpan.net/*.html</Include>
		<Include>http://www.azpan.com/*.html</Include>
		<Include>http://www.360disk.com/*.html</Include>
		<Include>http://d.119g.com/f/*.html</Include>
		<Include>http://www.32666.com/*.html</Include>
		<Include>http://*.dospy.com/*attachment.php?aid=*</Include>
		<Include>http://www.verycd.com/topics/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="度盘playlist自用" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="度盘playlist自用.user.js" installTime="1373390482389" modified="1373440590000" name="度盘playlist自用" namespace="" runAt="document-end" uuid="be856f65-c277-4164-8be7-ba160ab75ad5" version="1" installurl="file:///G:/M_Firefox/Stable/profiles/gm_scripts/%E5%BA%A6%E7%9B%98playlist%E8%87%AA%E7%94%A8/%E5%BA%A6%E7%9B%98playlist%E8%87%AA%E7%94%A8.user.js" updateurl="file:///G:/M_Firefox/Stable/profiles/gm_scripts/%E5%BA%A6%E7%9B%98playlist%E8%87%AA%E7%94%A8/%E5%BA%A6%E7%9B%98playlist%E8%87%AA%E7%94%A8.user.js">
		<Grant>none</Grant>
		<Include>http://pan.baidu.com/disk/home*</Include>
	</Script>
	<Script basedir="tiebaInsertMusicLink" checkRemoteUpdates="1" dependhash="f25a757284611b3b7d44f15816c93c0cacd4bc23" description="" enabled="true" filename="175316.user.js" installTime="1383394138225" modified="1384014342000" name="tiebaInsertMusicLink" namespace="userscripts.org" runAt="document-end" uuid="71bb7559-7c0d-45f1-a7c8-9a53718443bb" version="2013.11.9" installurl="http://userscripts.org/scripts/source/175316.user.js" updateurl="http://userscripts.org/scripts/source/175316.meta.js" icon="c339b7e2d3a1b5c4c3a8d726">
		<Grant>GM_addStyle</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/*</Include>
	</Script>
	<Script basedir="tiebaShareByDrag" checkRemoteUpdates="1" dependhash="f25a757284611b3b7d44f15816c93c0cacd4bc23" description="" enabled="true" filename="175448.user.js" installTime="1376143188938" modified="1386682096000" name="tiebaShareByDrag" namespace="userscripts.org" runAt="document-end" uuid="3e1a2ca2-a0c8-4d4a-8c84-0a9e3ec8c06e" version="2013.11.16" installurl="http://userscripts.org/scripts/source/175448.user.js" updateurl="http://userscripts.org/scripts/source/175448.meta.js" icon="c339b7e2d3a1b5c4c3a8d726">
		<Grant>GM_getValue</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/*</Include>
	</Script>
	<Script basedir="百度音乐助手" checkRemoteUpdates="1" dependhash="c0037c0c297378c065c66b4a1afdd920c45da7b1" description="百度音乐下载助手,突破百度音乐会员限制,带您自由畅享高品质音乐" enabled="true" filename="175746.user.js" installTime="1376536364300" modified="1376536362000" name="百度音乐助手" namespace="http://userscripts.org/scripts/show/175746" runAt="document-end" uuid="3fda3826-9905-4190-bf97-bfc131128cab" version="1.0.4" installurl="https://userscripts.org/scripts/source/175746.user.js" updateurl="https://userscripts.org/scripts/source/175746.meta.js" icon="icon_48.png">
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://music.baidu.com/song/*</Include>
	</Script>
	<Script basedir="度盘拖拽上传" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="度盘拖拽上传.user.js" installTime="1376970475116" modified="1376970772000" name="度盘拖拽上传" namespace="" runAt="document-end" uuid="3953d15f-a87b-4f46-9e64-1c3d572bd079" version="1" installurl="file:///G:/%E9%85%8D%E7%BD%AE/%E6%A1%8C%E9%9D%A2/firefox/profiles/gm_scripts/%E5%BA%A6%E7%9B%98%E6%8B%96%E6%8B%BD%E4%B8%8A%E4%BC%A0/%E5%BA%A6%E7%9B%98%E6%8B%96%E6%8B%BD%E4%B8%8A%E4%BC%A0.user.js" updateurl="file:///G:/%E9%85%8D%E7%BD%AE/%E6%A1%8C%E9%9D%A2/firefox/profiles/gm_scripts/%E5%BA%A6%E7%9B%98%E6%8B%96%E6%8B%BD%E4%B8%8A%E4%BC%A0/%E5%BA%A6%E7%9B%98%E6%8B%96%E6%8B%BD%E4%B8%8A%E4%BC%A0.user.js">
		<Grant>none</Grant>
		<Include>http://pan.baidu.com/disk/home*</Include>
	</Script>
	<Script basedir="百变饼" checkRemoteUpdates="1" dependhash="58f1f71af2d117cd53db1547e0dd68c0d77b4a0b" description="百度新版首页仿Bing" enabled="false" filename="155404.user.js" installTime="1380448924044" modified="1380448926000" name="百变饼" namespace="userscripts.org" runAt="document-start" uuid="8cab5dfe-8880-4766-b67d-189ac1217b08" version="2.1" installurl="https://userscripts.org/scripts/source/155404.user.js" updateurl="https://userscripts.org/scripts/source/155404.meta.js" icon="b772d3eab5ced4dad0c4cdb70e0d">
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://www.baidu.com/</Include>
		<Include>http://www.baidu.com/home*</Include>
		<Include>http://www.baidu.com/index.php*</Include>
	</Script>
	<Script basedir="ThunderLixianExporter" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="export thunder lixian url to aria2/wget" enabled="true" filename="169678.user.js" installTime="1381464933687" modified="1381464934000" name="ThunderLixianExporter" namespace="http://dynamic.cloud.vip.xunlei.com/" runAt="document-end" uuid="76553274-6e29-4a11-a292-825cfe5f648c" version="0.5" installurl="http://userscripts.org/scripts/source/169678.user.js" updateurl="http://s.binux.me/TLE/master/ThunderLixianExporter.meta.js">
		<Grant>none</Grant>
		<Match>http://dynamic.cloud.vip.xunlei.com/*</Match>
		<Match>http://61.147.76.6/iplay.html*</Match>
		<Match>http://222.141.53.5/iplay.html*</Match>
	</Script>
	<Script basedir="图片粘贴&amp;拖放二合一增强版" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="162380.user.js" installTime="1382272777082" modified="1382272778000" name="图片粘贴&amp;拖放二合一增强版" namespace="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul" runAt="document-end" uuid="33685f12-e55c-4d2b-b99e-0ac9a1a32410" version="1" installurl="https://userscripts.org/scripts/source/162380.user.js" updateurl="https://userscripts.org/scripts/source/162380.meta.js">
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>unsafeWindow</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_log</Grant>
		<Include>http://tieba.baidu.com/*</Include>
	</Script>
	<Script basedir="osuReplaceDownloadLinkToKoreaSite" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="转换osu搜索页面下载链接到棒子网，破除下载限制 + 批量下载功能" enabled="true" filename="380634.user.js" installTime="1393476843694" modified="1395468847077" name="osuReplaceDownloadLinkToKoreaSite" namespace="myon" runAt="document-end" uuid="6fa22b1e-b633-48d1-a18f-41f0bf759ce9" version="2014.3.22" installurl="http://userscripts.org/scripts/source/380634.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/380634.meta.js">
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>https://osu.ppy.sh/p/*</Include>
		<Include>https://osu.ppy.sh/s/*</Include>
		<Include>http://osu.ppy.sh/p/*</Include>
		<Include>http://osu.ppy.sh/s/*</Include>
		<Include>http://osu.ppy.sh/b/*</Include>
		<Include>https://osu.ppy.sh/b/*</Include>
	</Script>
	<Script basedir="虾米音乐助手" checkRemoteUpdates="1" dependhash="6d67dcf433c05133119bb33da0578ec63c66d19b" description="虾米音乐助手带您突破虾米VIP会员音乐下载数量限制,畅享高品质音乐,另外通过分享VIP用户的Cookie,可以让普通用户也能享受到高品质音乐,这是一个合作分享的工具,人人喂我,我喂人人,世界因为分享更精彩" enabled="true" filename="175716.user.js" installTime="1393669869849" modified="1393669869849" name="虾米音乐助手" namespace="http://userscripts.org/scripts/show/175716" runAt="document-end" uuid="9aa41978-ce9b-45ef-9c2d-76c24bc2f6f3" version="1.0.8" installurl="https://userscripts.org/scripts/source/175716.user.js" updateurl="https://userscripts.org/scripts/source/175716.meta.js" icon="script_xiamimusicscript_icon_48.png">
		<Grant>GM_setClipboard</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://www.xiami.com/download/*</Include>
	</Script>
	<Script basedir="百度网盘音乐预览html5替换" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="百度网盘音乐预览html5替换.user.js" installTime="1393671390590" modified="1395167414601" name="百度网盘音乐预览html5替换" namespace="" runAt="document-end" uuid="11a3002e-9b2f-4954-b296-9b8492571d24" version="2014.3.19" installurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98%E9%9F%B3%E4%B9%90%E9%A2%84%E8%A7%88html5%E6%9B%BF%E6%8D%A2/%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98%E9%9F%B3%E4%B9%90%E9%A2%84%E8%A7%88html5%E6%9B%BF%E6%8D%A2.user.js" updateurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98%E9%9F%B3%E4%B9%90%E9%A2%84%E8%A7%88html5%E6%9B%BF%E6%8D%A2/%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98%E9%9F%B3%E4%B9%90%E9%A2%84%E8%A7%88html5%E6%9B%BF%E6%8D%A2.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>http://pan.baidu.com/share/link?*</Include>
		<Include>http://pan.baidu.com/s/*</Include>
	</Script>
	<Script basedir="bilibili_fixer(自用)" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="bilibili_youku.user.js" installTime="1394115974873" modified="1394903268807" name="bilibili fixer(鑷敤)" namespace="" runAt="document-end" uuid="32405fa4-cae8-4b85-9b93-230ed4466b53" version="null" installurl="file:///F:/firefox/profiles/gm_scripts/bilibili_youku/bilibili_youku.user.js" updateurl="file:///F:/firefox/profiles/gm_scripts/bilibili_youku/bilibili_youku.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>http://www.bilibili.tv/video/av*</Include>
	</Script>
	<Script basedir="贴吧名片还原旧版" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="180350.user.js" installTime="1394257748070" modified="1394642495822" name="贴吧名片还原旧版" namespace="userscripts.org" runAt="document-end" uuid="c538df1c-2de7-4aa2-a19e-0bc179610509" version="2014.03.13" installurl="http://userscripts.org/scripts/source/180350.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/180350.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/p/*</Include>
		<Include>http://tieba.baidu.com/f*ct=*</Include>
	</Script>
	<Script basedir="baiduOldSearch" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="false" filename="baiduOldSearch.user.js" installTime="1394271454604" modified="1394271582269" name="baiduOldSearch" namespace="." runAt="document-end" uuid="b1d782a8-0ccd-42eb-bd7b-171d6cf3c133" version="1" installurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/baiduOldSearch/baiduOldSearch.user.js" updateurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/baiduOldSearch/baiduOldSearch.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>http://www.baidu.com/</Include>
	</Script>
	<Script basedir="Baidu_Zhidao_Thread_Notification" checkRemoteUpdates="1" dependhash="80a02ceeb90696836e45318accf7f4d9deb54524" description="在贴吧对来自百度知道的贴子进行提醒和删除。" enabled="true" filename="410695.user.js" installTime="1394776322993" modified="1394776322993" name="Baidu Zhidao Thread Notification" namespace="userscripts.org" runAt="document-end" uuid="268b084d-5913-4bf4-b724-d5f188a7356b" version="1.1" installurl="http://userscripts.org/scripts/source/410695.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/410695.meta.js" icon="147834caf9ccb0a66b2505c753747867">
		<Grant>none</Grant>
		<Include>http://tieba.baidu.com/p/*</Include>
		<Include>http://tieba.baidu.com/f?*z=*</Include>
		<Match>http://tieba.baidu.com/p/*</Match>
		<Match>http://tieba.baidu.com/f?*z=*</Match>
	</Script>
	<Script basedir="fuck_tieba_lasyload" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="fuck_tieba_lasyload.user.js" installTime="1394811999155" modified="1394812168902" name="fuck_tieba_lasyload" namespace="" runAt="document-end" uuid="e0980297-4709-4cff-9d63-162b9cb47a2d" version="null" installurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/fuck_tieba_lasyload/fuck_tieba_lasyload.user.js" updateurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/fuck_tieba_lasyload/fuck_tieba_lasyload.user.js">
		<Grant>none</Grant>
		<Include>*</Include>
	</Script>
	<Script basedir="1123123" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="false" filename="1123123.user.js" installTime="1395067909923" modified="1395068005926" name="1123123" namespace="." runAt="document-end" uuid="590e0d03-4178-4b93-b49d-a36291f31fc7" version="1" installurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/1123123/1123123.user.js" updateurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/1123123/1123123.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>http://tieba.baidu.com/i/data/panel?un*</Include>
	</Script>
	<Script basedir="test" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="false" filename="test.user.js" installTime="1395158399607" modified="1395158952691" name="test" namespace="." runAt="document-end" uuid="8d4d40ce-8768-4e72-bddf-c4c8fff2b230" version="1" installurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/test/test.user.js" updateurl="file:///G:/%E6%A1%8C%E9%9D%A2/firefox/profiles_w/gm_scripts/test/test.user.js">
		<Grant>unsafeWindow</Grant>
		<Include>*</Include>
	</Script>
	<Script basedir="BaiduYun-ShowAlbum_and_Artist" checkRemoteUpdates="1" dependhash="f25a757284611b3b7d44f15816c93c0cacd4bc23" description="度盘音乐文件显示专辑名和歌手" enabled="true" filename="417161.user.js" installTime="1395167943819" modified="1395167943819" name="BaiduYun-ShowAlbum_and_Artist" namespace="userscripts.org" runAt="document-end" uuid="ad10b157-ef72-4472-b66d-d05460071d4c" version="2014.3.19" installurl="http://userscripts.org/scripts/source/417161.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/417161.meta.js" icon="c339b7e2d3a1b5c4c3a8d726">
		<Grant>unsafeWindow</Grant>
		<Include>http://pan.baidu.com/share/link?*</Include>
		<Include>http://pan.baidu.com/s/*</Include>
	</Script>
</UserScriptConfig>